*{
  color: white;
}
// cor de fundo
.cor_fundo{
  --ion-background-color:rgb(34,132,230);;
  --ion-background-color:radial-gradient(circle, rgba(34,132,230,1) 0%, rgba(27,103,179,1) 22%, rgba(19,73,128,1) 60%, rgba(11,44,77,1) 100%);
}

// Menu fundo parte de dentro
.fundo_menu{
  --ion-toolbar-background:#0B2C4D;
  --ion-item-background:#040F1A;
}
ion-button{
  --background:#0B2C4D;
}
.menu_botao{
  background: rgb(4,15,26);
  background: linear-gradient(190deg, rgba(4,15,26,1) 0%, rgba(11,44,77,1) 35%, rgba(19,73,128,1) 100%);
}
.titulo1{ 
  margin-top: 1vh;
  margin-bottom: 3vh;
  color: white;
  text-align: center;
}

// menu superior
.botao{
  width: 100%; 
  margin-bottom: 2vh;
  color: white;
}
.logo{
  height: 5vh;
}
  
// CSS page
.titulo{ 
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  font-size: 6vh;
  font-weight: 1000;
  font-family: poupins;
  border-bottom: 0.3vh solid #0B2C4D;
} 
.servico_informacao{
  margin-bottom: 25vh;
  display: flex;
  justify-content: space-around;
}

// Cards
ion-card{
  margin-top: 3vh;
  border: 0.5vh solid #0B2C4D;
  border-radius: 1vh;
  
}
ion-card ion-card-title h1{
  text-align: center;
}

// imagem card
ion-card img{
  max-height: 50%;
  min-height: 50%;
}

// footer
ion-footer{
  padding: 5vh;
  background: rgb(4,15,26);
  background: linear-gradient(190deg, rgba(4,15,26,1) 0%, rgba(11,44,77,1) 35%, rgba(19,73,128,1) 100%);
}
.info-footer{
  text-align: center;
  font-family: arial;
}
.imagem img img{
  width: 20vh;
  min-width: 10vh;
  text-align: center;
}


