<ion-content [fullscreen]="true">

  <!-- Barra de navegação -->
  
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-item>
        <ion-title class="titulo1">Malvzuco</ion-title>
      </ion-item>

      <ion-button class="botao" color="white" expand="full" routerLink="/home">Página Incial</ion-button>

      <ion-button class="botao" color="white" expand="full" routerLink="/clientes">Cliente</ion-button>

      <ion-button class="botao" color="white" expand="full" routerLink="/contato">Contato</ion-button>
    
      <ion-button class="botao" color="white" expand="full" routerLink="/servico">Serviços</ion-button>
    </ion-header>
  </ion-menu>

  

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><img  class="logo" src="../../assets/icon/logo-malvzuco-navbar.png" alt="img"></ion-title>
      </ion-toolbar>
    </ion-header>

     <!--Corpo-->
    <ion-content class="ion-padding">
      <ion-row >
        <ion-col class="conteudo" size-lg="6" size-md="12" size="12">
          <h2>Localização</h2>
          <h2>Siga-nos</h2>
        </ion-col>
        
        <ion-col class="conteudo" size-lg="2" size-md="12" size="12">
          <ion-list>
            <ion-item>
              <ion-input label="Nome:" placeholder="Nome completo" required></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-input label="E-mail:" type="email" placeholder="E-mail válido" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Telefone:" type="tel" placeholder="Telefone válido" required></ion-input>
            </ion-item>

            <ion-button class="botao_consulta" color="primary" expand="full" shape="round" type="submit">Consultar</ion-button>

          </ion-list>
        </ion-col>
      </ion-row>
    </ion-content>
  </div>

 

  <!-- Rodapé -->

  
  
</ion-content>
