.botao{
    width: 100%;
    margin-bottom: 2vh;
    color: black;
  
  }
  .titulo1{
 
    margin-bottom: 3vh;
  }
.logo{
  height: 5vh;
}  
.conteudo{
  text-align: center;
}

// Contato whats
.link_whats a{
  color: white;
  text-decoration: none;
}
  