.full-height {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .plano-de-fundo {
    --background: url('https://images.pexels.com/photos/1254140/pexels-photo-1254140.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center / cover;
  }
  
  .titulo {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
  }