<ion-content [fullscreen]="true">

  <!-- Barra de navegação --> 
  
  <ion-menu contentId="main-content">
    <ion-header >
      <ion-item color="tertiary">
        <ion-title class="titulo1">Malvzuco</ion-title>
      </ion-item>

      <ion-button class="botao" color="tertiary" shape="round" expand="full" routerLink="/home">Página Incial</ion-button>

      <ion-button class="botao" color="tertiary" shape="round" expand="full" routerLink="/clientes">Cliente</ion-button>

      <ion-button class="botao" color="tertiary" shape="round" expand="full" routerLink="/contato">Contato</ion-button>
    
      <ion-button class="botao" color="tertiary" shape="round" expand="full" routerLink="/servico">Serviços</ion-button>
    </ion-header>
  </ion-menu> 
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-buttons slot="start" >
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title><img class="logo" src="../../assets/icon/logo-malvzuco-navbar.png" alt="img"></ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Corpo -->
    <ion-content class="ion-padding">
      <ion-row class="form" >
        <ion-col size-lg="4" size-md="6" size="12">
                 
            <ion-list>
              <h2>Simulação de Orçamento</h2>
              <ion-item>
                <ion-select label="Escolha o serviço" label-placement="floating">
                  <ion-select-option value="instalacao_ele">Instalação de parte Elétrica</ion-select-option>
                  <ion-select-option value="instalacao_ar">Instalação de ar condicionado</ion-select-option>
                  <ion-select-option value="manutencao_predial">Manutenção predial de elétrica/hidraulica</ion-select-option>
                  <ion-select-option value="manutencao_residencial">Manutenção escolar e residencial de elétrica/hidraulica</ion-select-option>
                </ion-select>
              </ion-item>
 
              <ion-item>
                <ion-select label="Escolha a cidade" label-placement="floating">
                  <ion-select-option value="boituva">Boituva</ion-select-option>
                  <ion-select-option value="capela do alto">Capela do Alto</ion-select-option>
                  <ion-select-option value="ipero">Iperó</ion-select-option>
                  <ion-select-option value="sorocaba">Sorocaba</ion-select-option>
                  <ion-select-option value="tatui">Tatuí</ion-select-option>
               
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input label="Digite o endereço" label-placement="floating"placeholder="Enter text" required></ion-input>
              </ion-item>
          
              <ion-item>
                <ion-input label="Telefone" type="tel" label-placement="floating" placeholder="(DD) ...." required></ion-input>
              </ion-item>

              <ion-button class="botao_consulta" color="primary" expand="full" shape="round" type="submit">Consultar</ion-button>

            </ion-list>
        </ion-col>
      </ion-row> 
      
      <ion-row class="imagem">
        <ion-col size-lg="12" size-md="12" size="12">
          <img src="../../assets/icon/logo-malvzuco-navbar.png" alt="img">
        </ion-col>
      </ion-row>
    </ion-content>
  </div>
  

  <!-- Rodapé -->

  
  
</ion-content>
