.botao{
    width: 100%;
    margin-bottom: 2vh;
    color: black;
  
  } 
.titulo1{

  margin-bottom: 3vh;
} 
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
ion-list{
  padding: 5vh;
  border-radius: 2vh;
}
.tamanho{
  
}
.botao_consulta{
  margin-top: 3vh;
}
.imagem {
  margin-top:3vh;
  text-align: center;
}
.logo{
  height: 5vh;
}  