.botao{
  width: 100%;
  margin-bottom: 2vh;
  color: black;

}
.titulo1{
  margin-bottom: 3vh;
}
.conteudo{
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
